{
	"extends": "@nti/eslint-config-lib-scripts",

	"parserOptions": {
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": false
		}
	},

	"globals": {
		"fetch": true,
		"self": "off"
	},

	"rules": {
		"strict": ["error", "global"],
		"import/no-commonjs": 0,
		"import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
		"no-restricted-globals": 0
	}
}
