{
	"extends": [
		"nti-codestyle-js"
	],

	"env": {
		"browser": false,
		"mocha": true,
		"node": true
	},

	"globals": {
		"fetch": true
	},

	"rules": {
		"strict": 0,
		"import/no-commonjs": 0,
		"import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/test/*.js", "**/*.spec.js"]}]
	}
}
