{
	"development": {
		"workers": 1,
		"mode": "development",
		"port": 8083,
		"server": "http://localhost:8082/dataserver2/",
		"user-agreement": "https://docs.google.com/a/nextthought.com/document/pub?id=1rM40we-bbPNvq8xivEKhkoLE7wmIETmO4kerCYmtISM&embedded=true",
		"sentry": {
			"dsn": "https://examplePublicKey@o0.ingest.sentry.io/0"
		},

		"apps": [
			{
				"package": "../example",
				"analyticsKey": "UA-XXXX-Y",
				"appId": "dev1",
				"appName": "nextthought mobile",
				"appVersion": "201410291800",
				"basepath": "/mobile/"
			},
			{
				"package": "../src/__test__/mock-app-with-hooks",
				"basepath": "/test/"
			}
		],

		"templateInjections": [
			{
				"source": "injection1.txt",
				"placement": "head"
			},
			{
				"source": "injection2.txt",
				"placement": "head|-1"
			}
		],

		"flags": {
			"obfuscate-usernames": true,
			"mathcounts-question-number-hack": false,
			"symmys.nextthought.com" : {
				"disable-context-in-activity": true
			}
		},

		"keys": {
			"googleapi": {
				"default": "AIzaSyD40HaKMirU_sR4RicSRGezciJWK5PC--8",
				"platform.ou.edu": "default"
			}
		},

		"external-libraries": {
			"mathquill": {
				"requires": ["jquery"],
				"url": "https://downloads.nextthought.com/libs/mathquill-0.9.4/mathquill.min.js",
				"definesSymbol": "jQuery.fn.mathquill",
				"stylesheets": ["https://downloads.nextthought.com/libs/mathquill-0.9.4/mathquill.css"]
			},
			"jquery": {
				"url": "https://code.jquery.com/jquery-2.1.3.min.js",
				"definesSymbol": "jQuery.noConflict",
				"invokeDefinedSymbol": true
			},
			"jquery.payment": {
				"requires": ["jquery", "stripe"],
				"url": "https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.3.2/jquery.payment.min.js",
				"definesSymbol": "jQuery.payment"
			},
			"stripe": {
				"url": "https://js.stripe.com/v2/",
				"definesSymbol": "Stripe"
			}
		}
	},


	"production": {
		"mode": "production"
	}
}
