{
	"development": {
		"mode": "development",
		"port": 8083,
		"server": "http://localhost:8082/dataserver2/",
		"user-agreement": "https://docs.google.com/a/nextthought.com/document/pub?id=1rM40we-bbPNvq8xivEKhkoLE7wmIETmO4kerCYmtISM&embedded=true",

		"apps": [{
			"package": "../example",
			"analyticsKey": "UA-XXXX-Y",
			"appId": "dev1",
			"appName": "nextthought mobile",
			"appVersion": "201410291800",
			"basepath": "/mobile/"
		}],


		"flags": {
			"obfuscate-usernames": true,
			"mathcounts-question-number-hack": false,
			"symmys.nextthought.com" : {
				"disable-context-in-activity": true
			}
		},

		"keys": {
			"googleapi": {
				"default": "AIzaSyCaTju8sAwS6GX72l9FSCeHZ2PTFOMOVWY",
				"platform.ou.edu": "default"
			}
		},

		"external-libraries": {
			"mathquill": {
				"requires": ["jquery"],
				"url": "https://downloads.nextthought.com/libs/mathquill-0.9.4/mathquill.min.js",
				"definesSymbol": "jQuery.fn.mathquill",
				"stylesheets": ["https://downloads.nextthought.com/libs/mathquill-0.9.4/mathquill.css"]
			},
			"jquery": {
				"url": "https://code.jquery.com/jquery-2.1.3.min.js",
				"definesSymbol": "jQuery.noConflict",
				"invokeDefinedSymbol": true
			},
			"jquery.payment": {
				"requires": ["jquery", "stripe"],
				"url": "https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.3.2/jquery.payment.min.js",
				"definesSymbol": "jQuery.payment"
			},
			"stripe": {
				"url": "https://js.stripe.com/v2/",
				"definesSymbol": "Stripe"
			}
		}
	},


	"production": {
		"mode": "production"
	},


	"site-mappings": {
		"ou-alpha.nextthought.com": "platform.ou.edu",
		"ou-test.nextthought.com": "platform.ou.edu",
		"janux.ou.edu": "platform.ou.edu",
		"platform.ou.edu": {
			"name": "platform.ou.edu",
			"title": "Janux"
		},

		"okstate-alpha.nextthought.com": "okstate.nextthought.com",
		"okstate-test.nextthought.com": "okstate.nextthought.com",
		"learnonline.okstate.edu": "okstate.nextthought.com",
		"okstate.nextthought.com": {
			"name": "okstate.nextthought.com",
			"title": "NextThought"
		},

		"symmys-alpha.nextthought.com": "symmys.nextthought.com",
		"lab.symmys.com": "symmys.nextthought.com",
		"symmys.nextthought.com": {
			"name": "symmys.nextthought.com",
			"title": "SYMMYS"
		},

		"alpha.nextthought.com": {
			"name": "alpha.nextthought.com",
			"title": "Alpha"
		},

		"prmia-alpha.nextthought.com": "prmia.nextthought.com",
		"prmia-test.nextthought.com": "prmia.nextthought.com",
		"prmia.nextthought.com": {
			"name": "prmia.nextthought.com",
			"title": "PRMIA"
		},

		"i2online.nextthought.com": "i2.nextthought.com",
		"i2-test.nextthought.com": "i2.nextthought.com",
		"i2-alpha.nextthought.com": "i2.nextthought.com",
		"i2.nextthought.com": {
			"name": "i2.nextthought.com",
			"title": "i2 Online"
		}
	}
}
